<!-- Team Section Colocar os numeros de contatos/ policia 190 , maria da penha ctt e neam 180 --> 
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contato de Apoio</h2>
                    <h3 class="section-subheading text-muted">Você não está sozinha. Conheça os principais canais de denúncia e acolhimento. Salve estes contatos.</h3>
                </div>
            </div>
            <div class="row">
                <!-- Canal 1: Ligue 190 -->
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ 'assets/img/team/1.png| relative_url }}" class="img-responsive img-circle" alt="Ícone para o número de emergência 190">
                        <h4>Ligue 190</h4>
                        <p class="text-muted">Polícia Militar - Emergência</p>
                        <p>Use este número para emergências, <strong>quando a violência está acontecendo</strong>. Uma viatura será enviada para interromper a agressão.</p>
                    </div>
                </div>
                <!-- Canal 2: Ligue 180 -->
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{{ 'assets/img/team/2.png| relative_url }}" class="img-responsive img-circle" alt="Ícone para a Central de Atendimento à Mulher 180">
                    <h4>Ligue 180</h4>
                    <p class="text-muted">Central de Atendimento à Mulher</p>
                    <p>Ligue para <strong>denunciar, receber orientação</strong> sobre seus direitos e ser informada sobre serviços de proteção. Funciona 24h.</p>
                </div>
            </div>

            <!-- Canal 3: Procure a DEAM -->
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{{ 'assets/img/team/3.png| relative_url }}" class="img-responsive img-circle" alt="Ícone para a Delegacia da Mulher (DEAM)">
                    <h4>Procure a DEAM</h4>
                    <p class="text-muted">Delegacia da Mulher</p>
                    <p>Vá à delegacia para <strong>registrar um Boletim de Ocorrência e solicitar Medidas Protetivas</strong> de Urgência para sua segurança.</p>
                </div>
            </div>
                        
                
                
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">A omissão também é uma forma de violência. Não se cale diante de um pedido de socorro, mesmo que silencioso, denunciar é proteger. O seu gesto pode ser a única esperança para alguém que não tem mais forças para lutar.</p>
                </div>
            </div>
        </div>
    </section>