<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Lei Maria da Penha</h2>
                    <h3 class="section-subheading text-muted">Conheça mais sobre a história de Maria da Penha.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Quem é Maria da Penha</h4>
                                    <!--<h4 class="subheading"></h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Maria da Penha é uma mulher que se tornou um símbolo de coragem, resistência e transformação. No ano de 1983, ela sobreviveu a duas tentativas de feminicídio cometidas pelo próprio marido, a primeira, um tiro enquanto dormia, que a deixou paraplégica; a segunda, uma tentativa de eletrocussão. Mesmo diante da violência e da lentidão da justiça brasileira, ela se recusou a silenciar. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Percurso de luta</h4>
                                    <!--<h4 class="subheading"></h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Determinada a buscar justiça, levou seu caso à Comissão Interamericana de Direitos Humanos, da Organização dos Estados Americanos, denunciando a negligência do Estado brasileiro. A repercussão internacional pressionou o país a agir e se tornou um marco na luta pelos direitos das mulheres. Sua história ultrapassou a dor individual e se transformou em luta coletiva. Graças à sua força, foi criada a Lei Maria da Penha, um dos principais instrumentos de combate à violência contra a mulher no Brasil.
 </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4> Conquista</h4>
                                    <!--<h4 class="subheading"></h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Em 7 de agosto de 2006, o presidente Luiz Inácio Lula da Silva sancionou a Lei n. 11.340, mais conhecida como Lei Maria da Penha. Com o intuito de reparar Maria da Penha — tanto material quanto simbolicamente, o Estado do Ceará pagou a ela uma indenização e o Governo Federal batizou a lei com o seu nome como reconhecimento de sua luta contra as violações dos direitos humanos das mulheres.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>A força da Lei</h4>
                                    <!--<h4 class="subheading"></h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A Lei Maria da Penha estabelece mecanismos para prevenir e combater a violência doméstica e familiar contra a mulher. Ela define diferentes formas de violência (física, psicológica, sexual, patrimonial e moral), garante assistência às vítimas e cria medidas protetivas de urgência, como o afastamento do agressor. A lei também prevê a atuação integrada da Justiça, polícia e serviços sociais e determina que esse tipo de violência não seja tratado como de menor potencial ofensivo, reforçando a proteção e a punição dos agressores.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Não
                                    <br>Se Cale
                                    <br>Denuncie!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>