<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A REALIDADE EM NÚMEROS</h2>
                    <h3 class="section-subheading text-muted">A violência é mais comum e maispróxima do que imaginamos. Os dados comprovam.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-people-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">18,6 MILHÕES DE VÍTIMAS</h4>
                    <p class="text-muted">No útimo ano, uma em cada quatro mulheres acima de 16 anos no Brasil sofreu algum tipo de violência ou agressão. Isso equivale a um estádio do Maracanã lotado, a cada 12 horas.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">O PERIGO MORA EM CASA</h4>
                    <p class="text-muted">Em 72,6% dos casos de violência o agressor era alguém próximo: parceiro, ex-parceiro, pai, irmão ou amigo. O lugar que deveria ser o mais seguro é, muitas vezes o mais perigoso.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-percent fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">FEMINICÍDIO: O CRIME FINAL</h4>
                    <p class="text-muted">O Brasil registrou 1.463 casos de feminicídio em 2023, o maior número desde a criação da lei. Isso significa que, em média, 4 mulheres foram mortas todos os dias simplesmente por serem mulheres.</p>
                </div>
            </div>
        </div>
    </section>